<!-- Header -->
<header class="py-6 text-center mt-5">
  <p class="text-base lg:text-4xl md:text-3xl sm:2xl font-semibold text-warm-brown">Welcome to Chuck Norris' Best Jokes!</p>
</header>

<!-- Main content -->
<main class="max-w-8xl mx-auto p-6 md:p-8 space-y-8 flex justify-start">


  <!-- Hero Section -->
  <section class="hero bg-soft-orange rounded-lg p-6 text-center shadow-sm  w-2/5">
      <!-- Links Section -->
    <div class="flex flex-row gap-10">
      <a routerLink="/random-joke"
        class="block bg-muted-yellow hover:bg-soft-orange text-xs sm:text-sm md:text-base py-2 sm:py-3 px-5 rounded-md transition">
        Random Joke
      </a>
      <a routerLink="/search-text"
        class="block bg-muted-yellow hover:bg-soft-orange text-xs sm:text-sm md:text-base py-2 sm:py-3 px-5 rounded-md transition">
        Search Jokes
      </a>
    </div>
    <!-- Image container aligned to the right -->

    <div class="w-full max-w-xl sm:max-w-lg md:max-w-md lg:max-w-lg xl:max-w-xl min-w-fit">
      <img [ngSrc]="chuckNorrisImage" alt="Chuck Norris Image" class="w-full h-auto object-contain rounded-md" width="600" height="400" priority />
    </div>
  </section>

  <!-- Router Outlet -->
   <div class=" rounded-lg max-w-2xl w-3/5 ml-44">
    <router-outlet></router-outlet>
   </div>
</main>
